.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #fff;
  color: #ff1616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  /* box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%); */
  z-index: 10;
}
.container {
  display: grid;
  justify-content: center;
}
.main-image {
  margin: 8rem 1rem 4rem 1rem;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  max-width: 60rem;
  justify-items: center;
}

.main-image h1 {
  font-size: 3rem;
  color: #ff1616;
  align-self: center;
}

.main-image img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}
