.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ff1616;
  border: 1px solid #ff1616;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form button:hover,
.form button:active {
  background-color: #e02401;
  border-color: #e02401;
}
